// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


.header-icon {
	margin-top: 2px;
	margin-right: 10px;
	font-size: 2em;
}

ion-card {
	border-top: 5px solid;
	border-top-color: map-get($colors, primary);
}

ion-card-header {
	font-size: 2rem !important;
	padding-bottom: 8px !important;
}

.gray-background {
	background: #f8f8f8;
}

