<ion-header>  
  <ion-navbar>
    <ion-title>
      Shows
    </ion-title>
    <ion-buttons end>
      <button class="header-icon" ion-button icon-right (click)="addShow()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="gray-background">
	<ion-grid>
	  <ion-row>
	    <ion-col>
				<ion-card *ngFor="let show of shows" (click)="openActionSheet(show)">
  				<ion-card-header>
    				{{show.name}}
  				</ion-card-header>
					<ion-card-content>
    				Sets: {{show.numberOfSets}} | Songs: {{show.numberOfSongs}}
  				</ion-card-content>
				</ion-card>
	    </ion-col>
	  </ion-row>
	</ion-grid>
</ion-content>