<ion-header>
  <ion-navbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="!show.valid" (click)="saveShow()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="show" (ngSubmit)="saveShow()">
		<ion-list>
      <ion-item>
        <ion-label>Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
		</ion-list>
    <ion-buttons padding>
      <button (click)="addSet()" block ion-button large type="button">Add Set</button>
    </ion-buttons>
		<ion-list>
      <ion-item-group reorder="true" (ionItemReorder)="reorderSetListItem($event)">
        <ion-item-sliding *ngFor="let item of setList">
          <ion-item>
            <div *ngIf="item.isSong">
              <h2>{{item.title}}</h2>
              <h3>{{item.artist}} | {{item.bpm}} bpm</h3>
            </div>
            <div *ngIf="!item.isSong">
              <b>{{item.title}}</b>
            </div>
          </ion-item>
          <ion-item-options side="right">
            <button [hidden]= "item.isSong || item.title == 'Song Backlog'" color="danger" ion-button (click)="removeSetListItem(item)">
              Remove
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-item-group>
    </ion-list>
	</form>
</ion-content>