<ion-header>  
  <ion-navbar>
    <ion-title>
      Songs
    </ion-title>
    <ion-buttons end>
      <button class="header-icon" ion-button icon-right (click)="addSong()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-item *ngFor="let song of songs" (click)="openActionSheet(song)">
      <h2>{{song.title}}</h2>
      <h3>{{song.artist}} | {{song.bpm}} bpm</h3>
    </ion-item>
  </ion-list>
</ion-content>