<ion-header>
  <ion-navbar>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons end>
      <button ion-button [disabled]="!song.valid" (click)="saveSong()">
        Save
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
	<form [formGroup]="song" (ngSubmit)="saveSong()">
		<ion-list>
      <ion-item>
        <ion-label>Title</ion-label>
        <ion-input type="text" formControlName="title"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Artist</ion-label>
        <ion-input type="text" formControlName="artist"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>BPM</ion-label>
        <ion-input type="text" formControlName="bpm"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Filename</ion-label>
        <ion-input type="text" formControlName="filename"></ion-input>
      </ion-item>
		</ion-list>
    <button type="button" ion-button (click)="getSongFromDevice()">Click Here</button>
	</form>
</ion-content>